html {
  font-size: 62.5%;
}
:root {
  --primary-color: rgb(255, 166, 0);
  --primary-font: "Sen", sans-serif;
}
body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
/* Code phan header */
/* Code chung */
.header .body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
  z-index: 1;
}
.header {
  background-color: #fff;
}
.main-content {
  width: 117rem;
  margin: 0 auto;
  max-width: calc(100% - 40px);
}
.header.fixed {
  position: sticky;
  top: 0;
  z-index: 1;
}
/* Code riêng */
.nav .ul1 {
  display: flex;
}
/* chinh size cho logo */
.body-header .logo {
  height: 5rem;
  cursor: pointer;
}
.body-header .search .kinh-lup {
  height: 2rem;
}
.body-header .infor .logoin {
  height: 3rem;
  cursor: pointer;
}
.body-header .infor .cart {
  height: 3rem;
}
/* chinh padding cho navbar */
.nav a {
  padding: 2rem;
  text-decoration: none;
  color: black;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  color: var(--primary-color);
}
.nav li.active a::before {
  content: "";
  width: 5rem;
  height: 0.2rem;
  position: absolute;
  left: 2rem;
  top: 4.7rem;
  display: block;
  background-color: black;
}
/* chinh thanh search */
.body-header .search .tim {
  padding: 1rem;
  border: none;
}
.body-header .search .kinh-lup {
  font-size: 2rem;
  display: inline;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-left: 1.9rem;
}
.body-header .search {
  position: relative;
}
.body-header .search::before {
  content: "";
  position: absolute;
  top: 4rem;
  left: 1rem;
  display: inline-block;
  width: 25rem;
  height: 0.1rem;
  background-color: black;
}
/* Chinh phan dang nhap */
.body-header .infor .cart {
  margin-left: 1rem;
  cursor: pointer;
}
/* style cho khoi product */
.product {
  position: absolute;
  padding-top: 1rem;
  left: 0;
  top: 7.5rem;
  /* display: none; */
  visibility: hidden;
}
.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
}
.product .sp a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  line-height: 2rem;
  color: black;
}
.product .sp a:hover {
  color: var(--primary-color);
}
.product .sp a:hover {
  color: var(--primary-color);
}
.product .sp {
  width: 50%;
  margin: auto;
  text-align: center;
}
.main-content .product .logo2 {
  width: 50%;
}
li.product {
  position: relative;
}
li.products:hover .product {
  visibility: visible;
}
/* Code phan main */
/* code chung */
.body-main .hero-pic img {
  width: 117rem;
  height: 50rem;
}

/* code phan san pham */
/* code chung */

/* code rieng */
.sanpham {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 3.6rem 0;
}
.sanpham .trung-bay {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.sanpham .product-ava {
  text-align: center;
  padding-bottom: 2rem;
}
.trung-bay .tb {
  width: 30%;
}
.tb img {
  width: 100%;
}
.tb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tb .content .desc {
  font-family: "Sen", sans-serif;
  margin: 1rem auto;
  color: white;
}
.tb .content .giam-gia {
  text-decoration: line-through;
  color: white;
}
.tb .content .gia {
  margin-top: 1rem;
  color: var(--primary-color);
}
.sanpham .nut {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  padding: 3rem;
}
.sanpham .btn {
  border: 1px solid white;
  width: 30rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.sanpham .btn a {
  text-decoration: none;
  color: white;
  margin: auto;
  padding: 1rem;
}
.sanpham .btn .fa-arrow-right-long {
  color: white;
  position: absolute;
  top: 1.1rem;
  right: 6rem;
  display: none;
}
.sanpham .btn:hover .fa-arrow-right-long {
  display: inline;
}
/* code phan feedback */
/* code chung */
.feedback {
  padding: 2rem 0;
  margin-top: 1rem;
  text-align: center;
}
.feedback .title {
  padding: 4rem;
  color: var(--primary-color);
  font-size: 2rem;
}
.title .title-text {
  position: relative;
}
.feedback .title-text::after {
  position: absolute;
  top: 3.5rem;
  left: 2.9rem;
  content: "";
  display: inline-block;
  width: 9rem;
  height: 0.4rem;
  background-color: var(--primary-color);
}
.feedback .feedback-img {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.feedback .feedback-img {
  margin-top: 1rem;
}
.feedback-img .fbi {
  width: 20%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.feedback .circles {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.feedback .circles .circle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color:gray;
  border-radius: 50%;
}
.circles .circle.atv{
  background-color:var(--primary-color);
}
.feedback .circles .direction{
  font-size: 2rem;
  color: var(--primary-color);
}

/* code phan entertain */
/* entertain tren*/
.entertain .entertain-dau
{
  display: flex;
  padding: 2rem;
  margin-top: 2rem;

}
.entertain .entertain-dau .nd1{
  font-size: 2.5rem;
}
.entertain .entertain-dau .nd2
{
  font-family: "Sen" sans-serif;
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 2rem;
}
.entertain .entertain-dau .dauphai
{
  margin-left: auto;
  display: flex;
  justify-content: end;
  width: 70%;
}
.entertain .entertain-dau .dautrai
{
  width: 40%;
}
.entertain-dau .dauphai span
{
  font-family: "Sen" sans-serif;
  font-size: 1rem;
  color: var(--primary-color);
  cursor: pointer;
}
.entertain-dau .dauphai .dauchiphai
{
  margin-left: 0.5rem;
  font-size: 1rem;
  color: var(--primary-color);
  cursor: pointer;
}


/* entertain duoi */
.entertain .entertain-chan
{
  margin-top: 2rem;
  /* display: flex; */
  gap: 1rem;
}
.entertain-chan .qc-tren{
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.entertain-chan .qc-duoi{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.entertain-chan .qc{
  flex-wrap: wrap;
}

.entertain .entertain-chan .qc
{
  display: flex;
  flex-direction: column;
  width: 20%;
}
.entertain-chan .qc .anhqc{
  width: 100%;
  object-fit: cover;
  height: 25.5rem;
}
.entertain-chan .qc .qc-text
{
  margin-top: 2rem;
  font-family: var(--primary-font);
}

/* code phan flexing */
.flexing{
  padding: 3rem 0;
  margin-top: 3rem;
  margin-left: 8.9rem;
}
.flexing .nut-flexing
{
display: flex;
margin-bottom: 3rem;
gap: 2rem;
}
.nut-flexing .nut-fl
{
  font-family: var(--primary-font);
  padding: 1rem;
  box-shadow: 5px 4px 1px black;
  border-radius: 1rem;
  cursor: pointer;
}

/* code phan text flexing */
.text-flexing1{
  color: var(--primary-color);
  padding: 1rem 0;
  position: relative;
}
.text-flexing1::after{
content: "";
position: absolute;
top:3.9rem;
display: block;
width: 8rem;
height: 0.3rem;
background-color:var(--primary-color);
}
.mota-flexing{
  margin-top: 3.9rem;
  line-height: 2rem;

}
.mota-flexing .text-flexing strong{
  font-style: bold;
  font-weight: 700;
}
.mota-flexing .text-flexing span{
  color: blue;
  cursor: pointer;
}